<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEmb6fd0805bN3I1a0o2GBTGNY-IBGIRw</string>
	<key>GCM_SENDER_ID</key>
	<string>371002700181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpRestaurants.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cp-restaurants</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-restaurants.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371002700181:ios:56218cf0b4063e86da069c</string>
</dict>
</plist>